<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
<listeners>
<listener class-name="com.BeforePage.WebtestListener"></listener>
</listeners>	
	<test name="Back" preserve-order="true">
		<packages>
			<package name="com.PageTest.back"></package>
		</packages>
	</test>
	<test name="Forword" preserve-order="true">	
		<packages>
		<package name="com.PageTest.forword"></package>
		</packages>
	</test>
</suite>